/* Основные стили */
body {
    font-family: 'Nunito', sans-serif;
    background-color: #f0f0f0; /* Светло-серый фон */
    color: #333; /* Темно-серый текст */
    text-align: center;
    margin: 0;
    overflow: hidden;
}

h1 {
    margin-top: 20px;
    font-size: 2em;
    color: #2EA692; /* Зеленый цвет заголовка */
    font-weight: bold;
}

/* Игровая область */
#game-area {
    position: relative;
    width: 90%;
    height: 60vh;
    margin: 20px auto;
    border: 2px solid #06DDBA; /* Зеленая рамка */
    border-radius: 10px;
    background-color: #fff; /* Белый фон */
    touch-action: none;
}

/* Отображение процентов */
#percentage {
    font-size: 3em;
    font-weight: 300;
    color: #009078; /* Темно-зеленый цвет */
    margin-top: 30px;
    font-family: 'Press Start 2P', cursive;
}

/* Кнопка перезагрузки */
#reload-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 44px;
    cursor: pointer;
    color: #009078; /* Зеленый цвет */
    background-color: #f0f0f0; /* Серый фон */
    border-radius: 50%;
    padding: 5px;
    border: none;
    z-index: 1000;
}

/* Иконка помощи */
#help-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 44px;
    cursor: pointer;
    color: #009078; /* Зеленый цвет */
    background-color: #f0f0f0; /* Серый фон */
    border-radius: 50%;
    padding: 10px;
    border: none;
    z-index: 1000;
}

/* Стили для подсказки */
#help-text {
    position: fixed;
    top: 70px;
    right: 20px;
    background-color: #2EA692; /* Цвет фона */
    color: white; /* Цвет текста */
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    display: none; /* Скрыт по умолчанию */
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень для выделения */
    font-family: 'Nunito', sans-serif; /* Основной шрифт */
}
          
/* Адаптация для телефонов */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    #game-area {
        height: 50vh;
    }

     #logo {
                width: 80px; /* Уменьшаем размер логотипа на маленьких экранах */
            }

    .number {
        font-size: 1em;
    }

    #restart-button {
        font-size: 1em;
        padding: 8px 16px;
    }

    #back-button {
        font-size: 14px;
        padding: 4px 8px;
    }
}

/* Логотип и кнопка "Назад" */
    #logo {
    position: fixed; /* Фиксированное позиционирование, чтобы логотип оставался на месте при прокрутке */
    left: 20px; /* Отступ от левого края окна браузера */
    bottom: 20px; /* Отступ от нижнего края окна браузера */
    width: 100px; /* Ширина логотипа */
    height: auto; /* Высота автоматически подстраивается под ширину, сохраняя пропорции */
    z-index: 1000; /* Устанавливает высокий уровень слоя, чтобы логотип был поверх других элементов */
}

#back-button {
    position: fixed; /* Фиксированное позиционирование, чтобы кнопка оставалась на месте при прокрутке */
    bottom: 80px; /* Отступ от нижнего края окна браузера */
    right: 20px; /* Отступ от правого края окна браузера */
    font-size: 2.8em; /* Размер текста кнопки */
    cursor: pointer; /* Изменение курсора на указатель при наведении на кнопку */
    color: #009078; /* Цвет текста кнопки */
    background-color: #f0f0f0; /* Цвет фона кнопки */
    border: 1px solid #009078; /* Граница кнопки с указанием цвета */
    border-radius: 5px; /* Закругление углов кнопки */
    padding: 10px 20px; /* Внутренние отступы кнопки (сверху/снизу и слева/справа) */
    z-index: 1000; /* Устанавливает высокий уровень слоя, чтобы кнопка была поверх других элементов */
}
